html, body {
    margin: 0;
    padding: 0;

    /*font-family: 'Open Sans', sans-serif;*/
    font-family: 'Exo 2', sans-serif;

    font-weight: 300;

    --font-size: 16px;
    font-size: var(--font-size);
    /*letter-spacing: 1px;*/
    /*line-height: 24px;*/

    --height: 800px;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 100px;

    background-color: ghostwhite;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    /*color: #35a8d8;*/
    color: rgba(20, 137, 181, 0.76);
}

#top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px 40px;
    box-sizing: border-box;

    margin-top: 50px;;

    font-size: 16px;
    width: 100%;
    max-width: 800px;

    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,0.3) 0%, rgba(0,212,255,0.3) 0%, rgba(46, 238, 53, 0.3) 100%);
    /*background-color: lightgreen;*/
    border-radius: 3px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

#top > div {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

#search {
    width: 50%;
}

#search input {
    /*font-size: 20px;*/
    font-size: var(--font-size);
    font-weight: 300;

    padding: 10px;
}

textarea, select, input, button { outline: none; }


header {
    display: flex;
    flex-direction: row;
    margin: 50px;
    /*padding: 0 20px;*/

    font-size: 26px;
    /*font-weight: 400;*/
    /*color: rgba(0, 0, 0, 0.6);*/

    /*background-color: whitesmoke;*/



    border-radius: 3px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

header > div {
    padding: 20px;
    border-top: 1px solid transparent;
    border-bottom: 1px solid transparent;
}
header > div:first-child {
    padding-left: 40px;
}
header > div:last-child {
    padding-right: 40px;
}

header > div:hover {
    cursor: pointer;
    /*font-weight: 600;*/
    border-bottom: 1px solid black;
    /*color: rgba(0, 0, 0, 0.9);*/
}

header > div.active {
    border-top: 1px solid black;
}

main {
    width: 100%;
    max-width: var(--height);


}

.block {

    display: flex;
    flex-direction: column;

    width: 100%;
    /*min-height: 100px;*/
    height: 300px;
    /*max-height: 300px;*/
    overflow: hidden;


    /*background-color: rgba(14, 230, 13, 0.16);*/
    /*padding: 20px;*/
    margin-bottom: 50px;

    border-radius: 3px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);

}

.block .text {
    font-size: 26px;
    position: absolute;
    padding: 20px;
    z-index: 1;
}

.block img {
    width: 100%;
    display: block;
    z-index: 0;

    filter: blur(3px) saturate(3);
    transition: 1s filter;
}

.block img:hover {
    filter: blur(0);
}

.block:hover {
    /*border: 1px solid black;*/

    /*transition: box-shadow 5s ease-in-out;*/
}

footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    width: 100%;
    max-width: 800px;

    font-size: 12px;
    line-height: 150%;
    /*padding: 20px;*/
}

footer div {
    padding: 20px;
}

#languages {
    display: flex;
    flex-direction: column;
    position: fixed;
    left: 20px;
    top: 20px;
    font-size: 14px;

    cursor: pointer;
}

#languages div:first-child {
    font-weight: 600;
}

#languages div {
    padding-bottom: 5px;
}

#languages div:hover {
    /*cursor: pointer;*/
    font-weight: 600;
}