@font-face {
    font-family: 'Exo 2';
    src: url(../fonts/Exo_2/Exo2-Light.ttf);
    font-weight: 300;
}

@font-face {
    font-family: 'Exo 2';
    src: url(../fonts/Exo_2/Exo2-Regular.ttf);
    font-weight: 400;
}

@font-face {
    font-family: 'Exo 2';
    src: url(../fonts/Exo_2/Exo2-Bold.ttf);
    font-weight: 700;
}

html, body {
    margin: 0;
    padding: 0;

    /*font-family: 'Open Sans', sans-serif;*/
    font-family: 'Exo 2', sans-serif;

    font-weight: 300;

    --font-size: 16px;
    --font-size-big: 26px;
    font-size: var(--font-size);
    /*letter-spacing: 1px;*/
    /*line-height: 24px;*/

    --height: 800px;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 100px;

    background-color: ghostwhite;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    /*color: #35a8d8;*/
    color: rgba(20, 137, 181, 0.76);
}

#top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px 40px;
    box-sizing: border-box;

    margin-top: 50px;
    /*margin-bottom: 50px;*/

    font-size: 16px;
    width: 100%;
    max-width: 800px;

    /*background: rgb(2,0,36);*/
    background: linear-gradient(90deg, rgba(0,212,255,0.3) 0%, rgba(46, 238, 53, 0.3) 100%);
    /*background-color: lightgreen;*/
    border-radius: 3px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

#top > div {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

#top #contacts > div {
    /*background-color: rebeccapurple;*/
    /*height: 150%;*/
    line-height: 24px;
}

#top #cart img:hover {
    filter: invert(100%);
    cursor: pointer;
    /*background-color: red;*/
}

#top #cart.active img {
    filter: invert(100%);
}

#phone {
    cursor: pointer;
}

#phone:hover {
    color: white;
}

#search {
    width: 50%;
}

#search input {
    /*font-size: 20px;*/
    font-size: var(--font-size);
    font-weight: 300;

    padding: 10px;
}

textarea, select, input, button { outline: none; }

#back .menu {
    margin-bottom: 0;
}

#back .menu > div:hover {
    border-top: 3px solid transparent;
    border-bottom: 3px solid rgba(128, 128, 128, 0.5);
}

#back .menu > div.active {
    border-top: 3px solid transparent;
    border-bottom: 3px solid black;
}

/*MENU*/
.menu {
    display: flex;
    flex-direction: row;
    margin: 50px;
    margin-top: 0;
    /*padding: 0 20px;*/

    font-size: var(--font-size-big);
    /*font-weight: 400;*/
    /*color: rgba(0, 0, 0, 0.6);*/

    /*background-color: whitesmoke;*/



    /*border-radius: 3px;*/
    /*box-shadow: inset 0 2px 5px rgba(0, 0, 0, 0.2);*/
}

.menu > div {
    padding: 20px;
    border-top: 3px solid transparent;
    border-bottom: 3px solid transparent;
}
.menu > div:first-child {
    padding-left: 40px;
}
.menu > div:last-child {
    padding-right: 40px;
}

.menu > div:hover {
    cursor: pointer;
    /*font-weight: 600;*/
    border-top: 3px solid rgba(128, 128, 128, 0.5);
    /*color: rgba(0, 0, 0, 0.9);*/

    /*box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);*/
}

.menu > div.active {
    border-top: 3px solid black;
}

#back {

    /*position: absolute;*/
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    /*justify-content: center;*/

    /*TODO*/
    /*height: 205px;*/
    /*top: 80px;*/

    /*background-color: red;*/
    background: linear-gradient(90deg, rgba(2,0,36,0.3) 0%, rgba(0,212,255,0.3) 0%, rgba(46, 238, 53, 0.3) 100%);

    /*z-index: -1;*/
    /*touch-action: none;*/
}

main {
    width: 100%;
    max-width: var(--height);
}

footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    width: 100%;
    max-width: 800px;

    font-size: 12px;
    line-height: 150%;
    /*padding: 20px;*/
}

footer div {
    padding: 20px;
}