.main-categories {
    position: absolute;
    right: 100%;
    text-align: right;
    /*white-space: nowrap;*/

    width: 200px;

    padding: 20px;
}

.main-categories > div {

    width: auto;

    padding: 10px;
    /*padding-right: 10px;*/
    box-sizing: border-box;
    background-color: white;
    border-radius: 3px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);

    margin-bottom: 10px;

    cursor: pointer;

    /*transition: box-shadow 1s;*/
}

.main-categories > div:hover {
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

/*.shop-categories {*/
    /*display: flex;*/
    /*flex-direction: row;*/
    /*white-space: nowrap;*/
/*}*/

.categories {
    /*position: absolute;*/
    display: flex;
    flex-direction: row;

    /*top: 100%;*/

    white-space: nowrap;

    font-size: var(--font-size);
    text-align: right;

    margin-top: 20px;
    margin-left: 20px;
}

.categories div {
    /*margin: 10px;*/
    margin-right: 20px;
    /*margin-bottom: 0;*/
    /*margin-bottom: 10px;*/
    padding: 0 10px;
    height: 30px;
    line-height: 30px;
    cursor: pointer;

    border-radius: 3px;
    /*border: 3px solid rgb(177, 177, 177);*/
}

.category {
    background: rgba(0, 212, 255, 0.3);
    transition: background 1s;
}

.category:hover {
    background: rgba(46, 238, 53, 0.1);

}

.selectedCategory {
    background: rgba(46, 238, 53, 0.3);
    /*border: 3px solid black !important;*/
}

.items {
    position: relative;
    /*display: none;*/
    flex-direction: column;
    /*margin-bottom: 50px;*/
    /*overflow: hidden;*/

    padding: 0 20px;

    /*margin-top: 50px;*/
    margin-top: 20px;

    box-sizing: border-box;
}

.items > div.item {
    /*height: 200px;*/
    overflow: hidden;

    margin-bottom: 20px;

    border-bottom: 1px solid lightgray;

    /*background-color: red;*/
}

.items .images {
    float: right;
    padding-left: 20px;
    width: 40%;
    padding-bottom: 20px;
}

.items .images img {
    /*width: 300px;*/
    /*max-width: 30%;*/
    width: 100%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    /*filter: grayscale(100%);*/
}

.items .name {
    font-weight: 700;
    font-size: var(--font-size-big);
    padding-bottom: 20px;
}

.items .price {
    font-weight: 700;

    font-size: var(--font-size-big);
    padding-top: 20px;
    padding-bottom: 10px;
}

.items .cart {
    position: relative;
    padding: 17px;
    margin: 20px 0;
    font-weight: 700;
    width: 120px;
    /*background-color: white;*/
    background: rgba(0, 212, 255, 0.3);
    border: 1px solid gray;

    /*margin: 10px;*/
    text-align: center;

    border-radius: 3px;

    cursor: pointer;

    /*box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);*/
}

.items .cart span {
    position: relative;
    z-index: 1;
}

.items .cart:hover .cartBack {
    width: 100%;
}

.items .cart .cartBack {
    top: 0;
    left: 0;
    z-index: 0;
    position: absolute;
    height: 100%;
    width: 0;

    transition: width 1s;

    background: rgba(46, 238, 53, 0.4);
}

.items .electrocontact {
    position: absolute;
    right: -7px;
    top: 13px;
    bottom: 13px;

    background-color: gray;
    width: 7px;
    /*box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);*/
    /*height: 10px;*/


}