.categories {
    font-size: 20px;
    padding-bottom: 20px;
}

.items {
    display: none;
    /*margin-bottom: 50px;*/
    overflow: hidden;

    padding: 20px;
}

.items > div {
    /*height: 200px;*/
    overflow: hidden;

    margin-bottom: 20px !important;

    border-bottom: 1px solid black;

    /*background-color: red;*/
}

.items .images {
    float: right;
    padding-left: 20px;
    width: 30%;
}

.items .images img {
    /*width: 300px;*/
    /*max-width: 30%;*/
    width: 100%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.items .name {
    font-weight: 700;
    padding-bottom: 20px;
}

.items .price {
    font-weight: 400;
    padding-bottom: 20px;
}

.items .cart {
    position: relative;
    padding: 20px;
    margin: 20px 0;
    font-weight: 700;
    width: 120px;
    /*background-color: white;*/
    background: rgba(46, 238, 53, 0.3);
    border: 1px solid gray;

    /*margin: 10px;*/
    text-align: center;

    cursor: pointer;

    /*box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);*/
}

.items .cart:hover {
    background: rgba(46, 238, 53, 0.8);
}

.items .electrocontact {
    position: absolute;
    right: -10px;
    top: 15px;
    bottom: 15px;

    background-color: gray;
    width: 10px;
    /*box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);*/
    /*height: 10px;*/


}