@media only screen and (max-width : 320px) {
    #contacts {
        display: none !important;
    }
    .menu {
        font-size: 16px !important;
    }

}

@media only screen and (max-width : 640px) {

    body {
        font-size: var(--font-size) !important;
        /*padding-bottom: 0;*/
    }
    #title {
        font-size: var(--font-size-big-mobile);
    }
    #top {
        font-size: 12px;
    }
    #top #search {
        display: none;
    }
    .menu {

        width: 100%;
        margin: 0;
        overflow-y: auto;

        box-sizing: border-box;
        flex-flow: row wrap;
        /*padding-right: 30px;*/

        font-size: var(--font-size-big-mobile);
        justify-content: space-between;
    }
    .menu div {
        display: flex;
        flex-direction: column;


        padding: 20px !important;
        /*padding-left: 15px;*/
        /*padding-right: 15px;*/
        /*padding-bottom: 0;*/
    }
    .menu div:hover, .menu div:active {
        background-color: rgba(211, 211, 211, 0.05);
    }
    .menu div:first-child {
        padding-left: 0;
    }
    .menu div:last-child {
        padding-right: 0;
    }

    .block .title {
        font-size: var(--font-size-big-mobile);
    }


    footer {
        flex-direction: column;
    }

    .block {
        /*max-height: 140px;*/
    }
    .block.relative {
        /*max-height: none;*/
    }
    #back {
        /*height: 200px;*/
    }

    .items .name {
        font-size: var(--font-size-big-mobile);
    }
    .items .price {
        font-size: var(--font-size-big-mobile);
    }
}

@media only screen and (max-width : 800px) {
    #top {
        border-radius: 0 !important;
    }
    .block {
        border-radius: 0 !important;
    }

    .categories {
        position: relative;
        flex-direction: row;
        padding-bottom: 20px;
        left: 0;
        width: auto;
    }
    .categories div {
        margin-right: 20px;
    }
}