@media only screen and (max-width : 320px) {
    #contacts {
        display: none !important;
    }
}

@media only screen and (max-width : 640px) {

    body {
        font-size: 20px;
        /*padding-bottom: 0;*/
    }
    #title {
        font-size: 20px !important;
    }
    #top {
        font-size: 12px;
    }
    #top #search {
        display: none;
    }
    header {

        width: 100%;
        /*margin: 60px;*/
        /*padding-left: 50px;*/
        /*overflow: hidden;*/
        overflow-y: auto;

        box-sizing: border-box;
        flex-flow: row wrap;
        /*padding-right: 30px;*/

        font-size: 20px;
        justify-content: space-between;
    }
    header div {
        display: flex;
        flex-direction: column;


        padding: 20px !important;
        /*padding-left: 15px;*/
        /*padding-right: 15px;*/
        /*padding-bottom: 0;*/
    }
    header div:first-child {
        padding-left: 0;
    }
    header div:last-child {
        padding-right: 0;
    }
    .block {
        /*margin: 0;*/
        /*border: none;*/

        /*border-bottom: 1px solid gray;*/
        /*border-radius: 0;*/
    }

    footer {
        flex-direction: column;
    }

    .block {
        max-height: 140px;
    }
    #back {
        /*height: 200px;*/
    }
}