@media only screen and (max-width : 320px) {
    #contacts {
        display: none !important;
    }
    .menu {
        font-size: var(--font-size) !important;
    }

}

@media only screen and (max-width : 640px) {

    body {
        font-size: var(--font-size) !important;
        /*padding-bottom: 0;*/
    }
    #title {
        font-size: var(--font-size-big-mobile);
    }
    #top {
        font-size: var(--font-size-small);
    }
    #top #search {
        display: none;
    }
    .menu {

        width: 100%;
        margin: 0;
        overflow-y: auto;

        box-sizing: border-box;
        flex-flow: row wrap;
        /*padding-right: 30px;*/

        font-size: var(--font-size-big-mobile);
        justify-content: space-between;
    }
    .menu > div {
        display: flex;
        flex-direction: column;


        padding: 20px !important;
        /*padding-left: 15px;*/
        /*padding-right: 15px;*/
        /*padding-bottom: 0;*/
    }
    .menu > div.active {
        /*background-color: rgba(211, 211, 211, 0.3);*/
        border-bottom: none;
        color: white;
    }
    .menu div:first-child {
        padding-left: 0;
    }
    .menu div:last-child {
        padding-right: 0;
    }

    .block .title {
        font-size: var(--font-size-big-mobile);
    }


    footer {
        flex-direction: column;
    }

    .block {
        /*max-height: 140px;*/
        margin-top: 0;
        margin-bottom: 20px;
    }
    .block.relative {
        /*max-height: none;*/
    }
    #back {
        /*height: 200px;*/
    }

    .items {
        margin-top: 70px;
    }
    .items .name {
        font-size: var(--font-size-big-mobile);
    }
    .items .price {
        font-size: var(--font-size-big-mobile);
    }
    .items .cart:active .cartBack {
        width: 100%;
    }

    .menu div {
        display: none;
        /*height: 0;*/
    }

    .menu .button.mobile {
        display: flex;
        /*height: 0;*/
    }


    .categories {
        flex-direction: row;
        left: 0;
        right: auto;
        top: 100%;

        margin: 20px;
    }
    .categories div {
        /*margin-right: 0;*/
        margin-bottom: 0;
    }

    footer {
        font-size: var(--font-size);
    }

    footer > div.right {
        text-align: right;
    }
}

@media only screen and (max-width : 800px) {
    #top {
        border-radius: 0 !important;
    }
    .block {
        border-radius: 0 !important;
        box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    }
    .categories div {
        /*margin-right: 20px;*/
    }
}